body{
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.box_default{
    box-sizing: border-box;
    padding: 100px;
    margin: 20px;
    border: 5px solid black;
    
}
.box_new{
    box-sizing: border-box;
    padding: 100px;
    margin: 20px;
    border: 5px solid black;
}