body{
    background-color: black;
  }   

input{
    margin: 5px;
    padding: 10px;
    border: none;
    background: transparent;
    border-bottom: 3px solid greenyellow;
    background: transparent;
    color: greenyellow;
    border-radius: 20px;
   
}
