form{
    background-color: red;
}

.formulario_input {
    padding: 10px;
    width: 90%;
}
.formulario_submit {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}