p {
    color: red; /* cambia el color del texto */
    font-family: sans-serif; /* cambia la tipografia del texto */
    font-size: 18px; /* cambia el tamaño de la letra */
    font-weight: bold; /* sirve para dar negritas para resltar el texto */
    font-style: italic;  /* sirve para cambiar el estilo de la fuente, como ponerla en cursiva o normal. */
    text-align: center; /* Sirve para alinear el texto dentro de un elemento (como un párrafo, un div, etc.). */
    text-decoration: line-through; /* Se usa para agregar o quitar decoraciones al texto, como subrayados, tachados, etc. */
    line-height: normal; /*Se usa para ajustar el espacio vertical entre líneas de texto. Básicamente controla qué tan "espaciadas" se ven las líneas dentro de un párrafo.*/ 
    letter-spacing: 1px; /*Sirve para ajustar el espacio entre letras en un texto.*/
    text-transform: lowercase; /*Sirve para cambiar el formato de mayúsculas y minúsculas del texto sin modificar el contenido original.*/
    text-shadow: 15px red; /*Agrega sombras al texto para hacerlo más llamativo o estilizado.*/
    
}
h1{
    text-align: center;
}